html, body {
    margin: 0;
    padding: 0;    
}

body {
    background-color: #262424;
    font-family: 'Montserrat', sans-serif;
}

.navigation {
    background: #2b2b2b;
    color: white;
    height: 50px;
    animation: navegacao;
    animation-duration: 2s;
}

.navigation ul {
    margin-top: 0;
    list-style-type: none;
    text-align: right;
    padding-left: 0;
    height: 50px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 100;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #f27609;
}

.navigation li.threeline-icon {
    display: none;
}

.navigation li.threeline-icon:hover {
    color: #f27609;
    cursor: pointer;
}

.profile {
    color: white;
}

.profile span {
    color: #f27609;
    display: block;
    
}

.profile div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 40%;
    text-align: center;
    animation: profile-capa;
    animation-duration: 2s;    
}

.profile-pic img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 59%;
    animation: titulo-capa;
    animation-duration: 2s;
}

.profile-title h1 {
    text-transform: uppercase;
    font-size: 58px;
    margin-top: 190px;
    line-height: 60px;
}

.profile-title h2 {
    font-size: 20px;
    font-weight: 100;
    margin-top: -30px;
}

.container {
    padding: 50px 180px 50px 80px;
    animation: content;
    animation-duration: 2s;
}


.container h1 {
    color: white;
    font-weight: normal;
}

.container h2 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;
}

.container h3 {
    color: #f27609;
    font-size: 12px;
    text-transform: uppercase;
}

.container p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;

}

.path {
    list-style: 0;
    padding-left: 0;
    color: grey;
}

.path li {
    display: inline-block;
}

.path a {
    text-decoration: none;
    color: gray;
}



.social-img {
    width: 50px;
    margin-right: 10px;
}

.tumblr {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    overflow: hidden; 
}

.tumblr a {
    text-decoration: none;
}

.blackbox {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1s;
}

.blackbox:hover {
    opacity: 0.8;
    transition: 1s;
}

.blackbox-text {
    text-align: center;
    
}

.blackbox-text h1 {
    color: #f27609;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;    
}


.blackbox-text h2 {
    color: white;
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
}

.main-photo {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description h2 {
    color: white;
}

.description p {
    color: #6d6b6b;
}

.back-link  {
    
    color: #f27609;
}

@keyframes profile-capa {
    0% {opacity: 0; transform: translate(0px, 30px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes titulo-capa {
    0% {opacity: 0; transform: translate(0px, -20px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes content {
    0% {opacity: 0; transform: translate(-20px, 0px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes navegacao {
    0% {opacity: 0; }
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 1000px) {
    .navigation li {
        display: none;
    }

    .navigation li.threeline-icon {
        display: inline-block;
    }

    .profile div {
        display: block;
        height: auto;
    }

    .profile-pic {
        width: 100%;
    }

    .profile-pic img {
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 80%;
    }

    .profile-title h1 {
        margin-top: 30px;
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .profile-title h1 {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .profile-title {
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 10px 5% 10px 5%;
    }

    .container p {
        text-align: center;
        line-height: 30px;
    }

    .path li {
        font-size: 12px;
    }

    .tumblr {
        max-width: 100%;
        background-size: auto 100%;
    }

    .blackbox {
        opacity: 0.8;
    }

    .menujs {
        height: auto;
    }

    .menujs ul {
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%
        
    }

    .menujs li {
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 0;

    }


}

